<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Información Básica</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= form_for(@alumno, html: { class: "form-horizontal"}) do |f| %>
    <div class="box-body">
      <% if @alumno.errors.any? %>
          <% @user.errors.full_messages.each do |message| %>
            <% flash.now[:alert] =  message %>
          <% end %>
      <% end %>

      <div class="form-group">
        <%= f.label :rut, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :rut, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :nombre, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :nombre, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :apellido, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :apellido, class: "form-control" %>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <%= f.submit class: "btn btn-primary" %>
    </div>

    <!-- /.box-footer -->
  <% end %>
</div>
