<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
    <%= link_to users_path, :class => 'logo' do %>
      <i class="fa fa-users"></i>Usuarios
    <% end -%>
    </li>
    <li>
    <%= link_to @user, :class => 'logo' do %>
      Usuario#<%= @user.id %>
    <% end -%>
    </li>

  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"><%= @user.email %> </h3>
      <div class="box-tools pull-right">
      	<%= link_to edit_user_path(@user.id), :class => 'btn btn-block btn-default' do %>
      	   <span class="fa fa-edit" aria-hidden="true"></span> Editar Usuario
      	<% end %>
      </div>
    </div>
    <div class="box-body">
    <ul>
    	<li>
    		<strong>Email: </strong><%= @user.email %>
    	</li>
    	<li>
    		<strong>Tipo: </strong><%= content_tag :span, @user.role, class: "label label-success" %>
    	</li>
    	<li>
    		<strong>Creado en: </strong><%= @user.created_at %>
    	</li>
    	<li>
    		<strong>Password Encriptada: </strong><%= @user.encrypted_password %>
    	</li>
    	<li>
    		<strong>Último Ingreso: </strong><%= @user.last_sign_in_at %>
    	</li>
    </ul>

    </div><!-- /.box-body -->
    <div class="box-footer">
    </div><!-- /.box-footer-->
  </div><!-- /.box -->

</section><!-- /.content -->
