<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Estadísticas
    <small>todas las estadísticas</small>
  </h1>
  <ol class="breadcrumb">
    <li>
    <%= link_to estadisticas_path, :class => 'logo' do %>
      <i class="fa fa-area-chart"></i>Estadísticas
    <% end -%>
    </li>
  </ol>
</section>

<!-- Main content -->

<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">
          <% if @rut %>
            Resultados de busqueda para RUT: <%= @rut %>
          <% end -%>
        </h3>

        <div class="box-tools">
          <form class="input-group input-group-sm" style="width: 200px;">
            <input type="text" name="rut" class="form-control pull-right" placeholder="RUT Alumno">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rut Alumno</th>
            <th>Velocidad media</th>
            <th>Velocidad máxima</th>
            <th>Velocidad mínima</th>
            <th>Ruta</th>
            <th>Tiempo dentro del carril</th>
            <th>Tiempo fuera del carril</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @estadisticas.each do |estadistica| %>
            <tr>
              <td><%= estadistica.alumno ? estadistica.alumno.rut : "N/A" %></td>
              <td><%= estadistica.velocidadMedia %></td>
              <td><%= estadistica.velocidadMaxima %></td>
              <td><%= estadistica.velocidadMinima %></td>
              <td>
                <% if estadistica.ruta %> 
                  <i class="fa fa-check"></i>
                <% else %>
                  <i class="fa fa-times"></i>
                <% end %>
              </td>
              <td><%= estadistica.tiempoCarril %></td>
              <td><%= estadistica.tiempoFueraCarril %></td>
              <td><div class="btn-group">               
                <% if can? :show, Estadistica %><%= link_to 'Mostrar', estadistica, class: "btn btn-xs btn-default" %><% end %>
                <% if can? :edit, Estadistica %><%= link_to 'Editar', edit_estadistica_path(estadistica), class: "btn btn-xs btn-default" %><% end %>
                <% if can? :delete, Estadistica %><%= link_to 'Eliminar', estadistica, method: :delete, data: { confirm: '¿Seguro que desea eliminar este usuario?' }, class: "btn btn-xs btn-danger" %><% end %>
              </div></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="box-footer clearfix">
        <%= paginate @estadisticas %>
      </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
</section><!-- /.content -->