<section class="sidebar">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="header">MENÚ PRINCIPAL</li>
    <li>
      <%= link_to root_url do %>
        <%= content_tag :i, '', :class => "fa fa-dashboard" %>
        Dashboard
        <%= content_tag :small, 'new', :class => "label pull-right bg-green" %>
      <% end %>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-area-chart"></i>
        <span>Estadísticas</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <% if can? :read, Estadistica %> 
        <li>
          <%= link_to estadisticas_path do %>
            <%= content_tag :i, '', :class => "fa fa-circle-o" %>
            Ver Estadísticas
          <% end %>
        </li>
        <% end %>
        <% if can? :create, Estadistica %>
        <li>
          <%= link_to new_estadistica_path do %>
            <%= content_tag :i, '', :class => "fa fa-circle-o" %>
            Nueva Estadística
          <% end %>
        </li>
        <% end %>
      </ul>
    </li>
    <% if can? :manage, Alumno %>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-graduation-cap"></i>
        <span>Alumnos</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to alumnos_path do %>
            <%= content_tag :i, '', :class => "fa fa-circle-o" %>
            Ver Alumnos
          <% end %>
        </li>
        <% if can? :create, Alumno %>
        <li>
          <%= link_to new_alumno_path do %>
            <%= content_tag :i, '', :class => "fa fa-circle-o" %>
            Nuevo Alumno
          <% end %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
    <% if can? :manage, User %>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-users"></i>
        <span>Usuarios</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to users_path do %>
            <%= content_tag :i, '', :class => "fa fa-circle-o" %>
            Administrar usuarios
          <% end %>
        </li>
        <li>
          <%= link_to new_user_path do %>
            <%= content_tag :i, '', :class => "fa fa-circle-o" %>
            Nuevo Usuario
          <% end %>
        </li>
        <li>
          <%= link_to users_path(:role => "instructor") do %>
            <%= content_tag :i, '', :class => "fa fa-circle-o" %>
            Instructores
          <% end %>
        </li>
        <li>
          <%= link_to users_path(:role => "admin") do %>
            <%= content_tag :i, '', :class => "fa fa-circle-o" %>
            Administradores
          <% end %>
        </li>

      </ul>
    </li>
    <% end %>
    <% if can? :manage, Mapa %>
    <li>
      <%= link_to new_mapa_path do %>
        <%= content_tag :i, '', :class => "fa fa-road" %>
        Editar Mapa
      <% end %>
    </li>
    <% end %>
    <% if can? :manage, ApiKey %>
    <li>
      <%= link_to api_keys_path do %>
        <%= content_tag :i, '', :class => "fa fa-key" %>
        Llaves API
      <% end %>
    </li>
    <% end %>
  </ul>
</section>